/* libre-franklin-300 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: local("Libre Franklin Light"), local("LibreFranklin-Light"), url("../fonts/libre-franklin-v4-latin-300.woff2") format("woff2"), url("../fonts/libre-franklin-v4-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local("Libre Franklin"), local("LibreFranklin-Regular"), url("../fonts/libre-franklin-v4-latin-regular.woff2") format("woff2"), url("../fonts/libre-franklin-v4-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: local("Libre Franklin Italic"), local("LibreFranklin-Italic"), url("../fonts/libre-franklin-v4-latin-italic.woff2") format("woff2"), url("../fonts/libre-franklin-v4-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-600 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: local("Libre Franklin SemiBold"), local("LibreFranklin-SemiBold"), url("../fonts/libre-franklin-v4-latin-600.woff2") format("woff2"), url("../fonts/libre-franklin-v4-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-800 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  src: local("Libre Franklin ExtraBold"), local("LibreFranklin-ExtraBold"), url("../fonts/libre-franklin-v4-latin-800.woff2") format("woff2"), url("../fonts/libre-franklin-v4-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Libre Franklin", sans-serif;
  color: white;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
.zampas-subheader {
  font-family: "Libre Franklin", sans-serif;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.9em;
}

h5 {
  font-size: 1.3em;
}

.zampas-subheader {
  font-size: 4.8em;
  font-weight: 400;
}

.special-btn {
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 1em;
  display: block;
  border-radius: 2em;
  background: #003c56;
  padding: .9em 2em;
  text-transform: uppercase;
  font-size: 1.6em;
}

/*padding and stuff*/
.m-1 {
  margin: 1em;
}

.m-2 {
  margin: 2em;
}

.top-margin {
  margin-top: 10em;
}

/* Nav */
input {
  position: fixed;
  opacity: 0;
}

@media (min-width: 40em) {
  input {
    display: none;
  }
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

label::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 3;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger::before,
label .burger .bar, label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background: #fff;
  content: '';
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger .bar {
  top: 44%;
}

label .burger::before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

label .burger::after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media (min-width: 40em) {
  label {
    display: none;
  }
}

input:focus + label .burger,
label:hover .burger {
  opacity: .75;
}

@media (min-width: 40em) {
  input:focus + label,
  label:hover {
    display: none;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  /* material acceleration */
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 40em) {
  nav {
    position: relative;
    margin: 0 auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
}

nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 32em;
  background: #003c56;
  content: '';
  -webkit-transform: skewX(10deg) translateX(-100%);
          transform: skewX(10deg) translateX(-100%);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 40em) {
  nav::before {
    display: none;
  }
}

nav ul li {
  list-style: none;
}

nav a {
  margin: .5em 0;
  padding: .2em 2em;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #c29d5f;
  text-decoration: none;
  font-weight: 500;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: color .15s, -webkit-transform .5s;
  transition: color .15s, -webkit-transform .5s;
  transition: color .15s, transform .5s;
  transition: color .15s, transform .5s, -webkit-transform .5s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

nav a:nth-child(1) {
  -webkit-transition-delay: 0.2s, 100ms;
          transition-delay: 0.2s, 100ms;
}

nav a:nth-child(2) {
  -webkit-transition-delay: 0.2s, 150ms;
          transition-delay: 0.2s, 150ms;
}

nav a:nth-child(3) {
  -webkit-transition-delay: 0.2s, 200ms;
          transition-delay: 0.2s, 200ms;
}

nav a:nth-child(4) {
  -webkit-transition-delay: 0.2s, 250ms;
          transition-delay: 0.2s, 250ms;
}

nav a:nth-child(5) {
  -webkit-transition-delay: 0.2s, 300ms;
          transition-delay: 0.2s, 300ms;
}

nav a:nth-child(6) {
  -webkit-transition-delay: 0.2s, 350ms;
          transition-delay: 0.2s, 350ms;
}

@media (min-width: 40em) {
  nav a {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

nav a:hover, nav a:focus {
  color: white;
}

nav .zampas-logo-link {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (min-width: 40em) {
  nav .zampas-logo-link {
    display: none;
  }
}

nav .zampas-logo-link .zampas-logo {
  position: fixed;
  bottom: 0;
  margin: 1em;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: color .15s, -webkit-transform .5s;
  transition: color .15s, -webkit-transform .5s;
  transition: color .15s, transform .5s;
  transition: color .15s, transform .5s, -webkit-transform .5s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

nav .zampas-logo-link .zampas-logo:nth-child(1) {
  -webkit-transition-delay: 0.3s, 100ms;
          transition-delay: 0.3s, 100ms;
}

nav .zampas-logo-link .zampas-logo:nth-child(2) {
  -webkit-transition-delay: 0.3s, 150ms;
          transition-delay: 0.3s, 150ms;
}

nav .zampas-logo-link .zampas-logo:nth-child(3) {
  -webkit-transition-delay: 0.3s, 200ms;
          transition-delay: 0.3s, 200ms;
}

nav .zampas-logo-link .zampas-logo:nth-child(4) {
  -webkit-transition-delay: 0.3s, 250ms;
          transition-delay: 0.3s, 250ms;
}

nav .zampas-logo-link .zampas-logo:nth-child(5) {
  -webkit-transition-delay: 0.3s, 300ms;
          transition-delay: 0.3s, 300ms;
}

nav .zampas-logo-link .zampas-logo:nth-child(6) {
  -webkit-transition-delay: 0.3s, 350ms;
          transition-delay: 0.3s, 350ms;
}

@media (min-width: 40em) {
  nav .zampas-logo-link .zampas-logo {
    display: none;
  }
}

.zampas-logo-desktop {
  display: none;
}

@media (min-width: 40em) {
  .zampas-logo-desktop {
    position: absolute;
    width: 191px;
    left: 0;
    top: 0;
    height: 58px;
    display: block;
    margin: .5em;
  }
}

main {
  overflow: hidden;
}

main .content {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  /* material acceleration */
  will-change: transform, filter;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

[id="navcheck"]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}

[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
  width: 141.42%;
}

[id="navcheck"]:checked + label .burger::before {
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

[id="navcheck"]:checked + label .burger::after {
  -webkit-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
}

[id="navcheck"]:checked + label .burger .bar {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

[id="navcheck"]:checked ~ nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

[id="navcheck"]:checked ~ nav::before {
  -webkit-transform: skewX(10deg) translateX(0);
          transform: skewX(10deg) translateX(0);
}

[id="navcheck"]:checked ~ nav a,
[id="navcheck"]:checked ~ nav .zampas-logo {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

[id="navcheck"]:checked ~ main .content {
  -webkit-transform: translateX(3em);
          transform: translateX(3em);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  /* quite laggy :S */
}

/* helper */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
  overflow: hidden;
}

/* Standard syntax */
@-webkit-keyframes opacitymove {
  0% {
    opacity: .4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}
@keyframes opacitymove {
  0% {
    opacity: .4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}

/* 
Section 1
*/
#section0 {
  background-image: url(../img/zampas-banner1.jpg);
}

#section0 .intro {
  margin-top: 25%;
}

#section0 .intro .scroll-arrows svg {
  display: block;
  opacity: .4;
  margin: 0 auto;
  -webkit-animation-name: opacitymove;
          animation-name: opacitymove;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.6));
}

#section0 .intro .scroll-arrows svg:nth-child(1) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#section0 .intro .scroll-arrows svg:nth-child(2) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#section0 .intro .scroll-arrows svg:nth-child(3) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.box-1 {
  padding: 1em;
}

/* 
Section 2
*/
.menu-text h2 {
  font-weight: 400;
  color: #003c56;
  text-shadow: none;
}

.menu-text p {
  margin: 1em 30%;
  font-size: 1.6em;
  color: gray;
  text-shadow: none;
}

.menucontainer {
  text-align: left;
}

.menucontainer .menuheading {
  font-size: 2.8em;
}

.menucontainer .menutime {
  font-size: 2em;
  margin: 0 .5em;
}

.menucontainer .foodtitle {
  font-size: 1.6em;
}

.menucontainer .foodtext {
  font-size: 1.2em;
}

.menucontainer p {
  margin: 2em 0;
}

.menucontainer .pure-g {
  margin: 1em 5em auto;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 88%;
  background-size: 100% 100%;
  background-color: black;
  background-image: url(../img/zampas-grill.jpg);
  background-position: center center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}

#section0 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#section0 {
  overflow: hidden;
}

#section0 .fp-tableCell {
  vertical-align: middle;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff;
}

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display: none !important;
}

.primary-btn {
  border: .1em solid #fff;
  padding: .5em 1em;
  text-transform: uppercase;
}

button {
  background: none;
  border: none;
  padding: 1em 2em;
  color: #fff;
  cursor: pointer;
}

.menucontainer {
  background: #c29d5f;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 9;
  background: #003c56;
  padding: 0;
}

header #menus {
  padding-left: 20px;
  z-index: 10;
}

header .primary-btn {
  position: absolute;
  right: 1em;
  margin-top: 1.2em;
  top: 0;
}

@media (min-width: 40em) {
  header {
    padding: 1em 0;
  }
}

.pure-g [class*=pure-u] {
  font-family: "Libre Franklin", sans-serif;
}

.pure-centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inside {
  padding: 1em 0.5em;
  text-align: center;
  margin: auto;
}

.offer-box {
  background-color: #003c56;
  margin: 7.5em 2em 2em 2em;
  padding: 3em;
  vertical-align: middle;
}

.offer-box .title {
  font-weight: 400;
  margin: 0 2em;
  font-size: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
}

.offer-box .subtitle {
  font-size: 1.2rem;
}

.offer-box .text {
  font-size: 1rem;
}

.offer-box button {
  background-color: #c29d5f;
  text-transform: uppercase;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*# sourceMappingURL=custom.css.map */