/* libre-franklin-300 - latin */
@font-face {
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 300;
	src: local('Libre Franklin Light'), local('LibreFranklin-Light'),
		url('../fonts/libre-franklin-v4-latin-300.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/libre-franklin-v4-latin-300.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-regular - latin */
@font-face {
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 400;
	src: local('Libre Franklin'), local('LibreFranklin-Regular'),
		url('../fonts/libre-franklin-v4-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/libre-franklin-v4-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-italic - latin */
@font-face {
	font-family: 'Libre Franklin';
	font-style: italic;
	font-weight: 400;
	src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'),
		url('../fonts/libre-franklin-v4-latin-italic.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/libre-franklin-v4-latin-italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-600 - latin */
@font-face {
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 600;
	src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'),
		url('../fonts/libre-franklin-v4-latin-600.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/libre-franklin-v4-latin-600.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-800 - latin */
@font-face {
	font-family: 'Libre Franklin';
	font-style: normal;
	font-weight: 800;
	src: local('Libre Franklin ExtraBold'), local('LibreFranklin-ExtraBold'),
		url('../fonts/libre-franklin-v4-latin-800.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/libre-franklin-v4-latin-800.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$font-main: 'Libre Franklin',
sans-serif;

// dark colors
$colors: (primary:rgb(185, 134, 46),
	accentnavy:rgb(0, 60, 86),
	accent:rgb(255, 255, 255),
	accent2:rgb(0, 148, 181));


// light colors
// $colors: (primary:rgb(194, 157, 95),
// 	accent:rgb(0, 60, 86),
// 	accent2:rgb(0, 148, 181)
// 	);

$timing-function : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$nav-width-desktop : 35em;
$nav-width-mobile : 32em;
$nav-item-nb : 7;
$hp-svg-arrows : 3;

body {
	font-family: $font-main;
	background-color: black;
	color: white;
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
.subheader {
	font-family: $font-main;
	color: #fff;
	font-weight: 200;
	margin: 0;
	padding: 0;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
}

h1 {
	font-size: 4em;
	margin-bottom: 1em;
	text-transform: uppercase;
	line-height: 3em;
}

h2 {
	font-size: 3.8em;
	line-height: 2em;
}

h3 {
	font-size: 3em;
	line-height: 1.8em;
}

h4 {
	font-size: 2.4em;
	line-height: 1.6em;
}

h5 {
	font-size: 1.8em;
	line-height: 1em;
}

.subheader {
	font-size: 2.4em;
	text-transform: uppercase;
	line-height: 1.8em;
}

p {
	font-size: 1.6em;
}
a {
	color: map-get($colors, primary );
	font-size: 1.4em;
}

/*padding and stuff*/
.m-1 {
	margin: 1em;
}

.m-2 {
	margin: 2em;
}

.mt-1 {
	margin-top: 1em;
}

.mt-2 {
	margin-top: 2em;
}

.mt-3 {
	margin-top: 3em;
}

.mt-4 {
	margin-top: 4em;
}

.mt-5 {
	margin-top: 6em;
}

/* Nav */
header {
	position: fixed;
	display: block;
	width: 100%;
	z-index: 9;
	background: map-get($colors, accentnavy);
	padding: 0;

	#menus {
		padding-left: 20px;
		z-index: 10;
	}

	.primary-btn {
		position: absolute;
		right: 0;
		margin: 1.4em 1.7em 0 0;
		top: 0;
	}

	// @media(min-width: 40em) {
	// 	padding: 1em 0;
	// }
	input {
		position: fixed;
		opacity: 0;

		@media(min-width: 40em) {
			display: none;
		}
	}

	label {
		position: absolute;
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
		background: none;
		cursor: pointer;

		&::before {
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(darken(#333, 80%), .6);
			content: '';
			opacity: 0;
			pointer-events: none;
			transition: opacity .5s $timing-function;
		}

		.burger {
			position: fixed;
			top: 2em;
			left: 2em;
			z-index: 3;
			width: 2.5em;
			height: 2.5em;
			margin: 0;
			padding: 0;
			transition: opacity .5s $timing-function;

			&::before,
			.bar,
			&::after {
				position: absolute;
				left: 0;
				display: block;
				width: 100%;
				height: 12%;
				background: #fff;
				content: '';
				transition: all .5s $timing-function;
			}

			.bar {
				top: 44%;
			}

			&::before {
				top: 0;
				transform-origin: top left;
			}

			&::after {
				bottom: 0;
				transform-origin: bottom left;
			}
		}

		// @media(min-width: 40em) {
		// 	display: none;
		// }
	}

	input:focus+label,
	label:hover {
		.burger {
			opacity: .75;
		}

		// @media(min-width: 40em) {
		// 	display: none;
		// }
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 2;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: flex-start;
		transform: translate3d(0, 0, 0);
		/* material acceleration */
		transform: translateX(-100%);
		will-change: transform;
		transition: transform .5s $timing-function;

		// @media(min-width: 40em) {
		// 	position: relative;
		// 	margin: 0 auto;
		// 	transform: translateX(0);
		// 	display: -webkit-box;
		// 	display: -webkit-flex;
		// 	display: -ms-flexbox;
		// 	display: flex;
		// 	-webkit-box-orient: horizontal;
		// 	-webkit-box-direction: normal;
		// 	-webkit-flex-flow: row wrap;
		// 	-ms-flex-flow: row wrap;
		// 	flex-flow: row wrap;
		// 	-webkit-align-content: flex-start;
		// 	-ms-flex-line-pack: start;
		// 	align-content: flex-start;
		// }

		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			width: $nav-width-mobile;
			background: #003c56;
			content: '';
			transform: skewX(10deg) translateX(-100%);
			transform-origin: bottom left;
			will-change: transform;
			transition: transform .5s $timing-function;

			// @media(min-width: 40em) {
			// 	display: none;
			// }
		}

		ul {

			li {
				list-style: none;
			}
		}

		a {
			margin: .5em 0;
			padding: .2em 2em;
			font-size: 1.5em;
			text-transform: uppercase;
			color: map-get($colors, primary);
			text-decoration: none;
			font-weight: 500;
			transform: translateX(-100%);
			transition: color .15s, transform .5s;
			transition-timing-function: $timing-function;

			@for $i from 1 through $nav-item-nb {
				&:nth-child(#{$i}) {
					transition-delay: .2s,
					#{50 + (50 * $i)}ms;
				}
			}

			// @media(min-width: 40em) {
			// 	transform: translateX(0);
			// }

			&:hover,
			&:focus {
				color: white;
			}
		}

		.zampas-logo-link {
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;

			// @media(min-width: 40em) {
			// 	display: none;
			// }
			.zampas-logo {
				position: fixed;
				bottom: 0;
				margin: 1em;
				transform: translateX(-100%);
				transition: color .15s, transform .5s;
				transition-timing-function: $timing-function;

				@for $i from 1 through $nav-item-nb {
					&:nth-child(#{$i}) {
						transition-delay: .3s,
						#{50 + (50 * $i)}ms;
					}
				}

				// @media(min-width: 40em) {
				// 	display: none;
				// }
			}
		}
	}
}


.zampas-logo-desktop {
	display: none;

	// @media(min-width: 40em) {
	// 	position: absolute;
	// 	width: 191px;
	// 	left: 0;
	// 	top: 0;
	// 	height: 58px;
	// 	display: block;
	// 	margin: .5em;
	// }
}

main {
	overflow: hidden;

	.content {
		transform: translate3d(0, 0, 0);
		/* material acceleration */
		will-change: transform, filter;
		transition: all .5s $timing-function;
	}
}

[id="navcheck"]:checked {
	&+label {
		&::before {
			opacity: 1;
			pointer-events: auto;
		}

		.burger {

			&::before,
			&::after {
				width: 141.42%; // Pythagore!
			}

			&::before {
				transform: rotate(45deg) translateY(-50%);
			}

			&::after {
				transform: rotate(-45deg) translateY(50%);
			}

			.bar {
				transform: scale(0.1);
			}
		}
	}

	&~nav {
		transform: translateX(0);

		&::before {
			transform: skewX(10deg) translateX(0);
		}

		a,
		.zampas-logo {
			transform: translateX(0);
		}
	}

	&~main .content {
		transform: translateX(3em);
		transform-origin: left center;
		-webkit-filter: grayscale(50%);
		filter: grayscale(50%);
		/* quite laggy :S */
	}
}

/* helper */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.dual-nav {
	@media(min-width: 40em) {
		padding: 1em 0;
	}

	input {
		@media(min-width: 40em) {
			display: none;
		}
	}

	label {
		@media(min-width: 40em) {
			display: none;
		}
	}

	input:focus+label,
	label:hover {
		@media(min-width: 40em) {
			display: none;
		}
	}

	nav {
		@media(min-width: 40em) {
			position: relative;
			margin: 0 auto;
			transform: translateX(0);
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			-webkit-align-content: flex-start;
			-ms-flex-line-pack: start;
			align-content: flex-start;
		}

		&::before {
			@media(min-width: 40em) {
				display: none;
			}
		}

		a {
			@media(min-width: 40em) {
				transform: translateX(0);
			}
		}

		.zampas-logo-link {
			@media(min-width: 40em) {
				display: none;
			}

			.zampas-logo {
				@media(min-width: 40em) {
					display: none;
				}
			}
		}
	}

	.zampas-logo-desktop {
		@media(min-width: 40em) {
			position: absolute;
			width: 191px;
			left: 0;
			top: 0;
			height: 58px;
			display: block;
			margin: .5em;
		}
	}
}

/* Centered texts in each section
* --------------------------------------- */
.section {
	text-align: center;
	overflow: hidden;
}

/* Standard syntax */
@keyframes opacitymove {
	0% {
		opacity: .4
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: .4
	}
}

@-webkit-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@-moz-keyframes fadeInFromNone {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeInFromNone {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInFromNone {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.section {
	background-image: url(../img/zampas-bg1.jpg);
}

/* 
Section 1
*/
#section0 {

	// background-image: url(../img/zampas-banner2.jpg);
	img {
		-webkit-filter: brightness(60%);
		/* Safari 6.0 - 9.0 */
		filter: brightness(60%);
	}

	.intro {
		position: absolute;
		left: 50%;
		width: 500px;
		margin-top: 10%;
		margin-left: -250px;
		top: 0;
		transform: 2d(0, 0);
		z-index: 2;
		-webkit-filter: drop-shadow(2px 2px 2px rgba(44, 42, 42, 0.6));
		filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));

		.zampas-logo {
			max-width: 500px // -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .6));
				// filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .6));

		}

		// .special-btn {
		// 	margin: 0 auto;
		// 	margin-top: 2em;
		// 	margin-bottom: 1em;
		// 	display: block;
		// 	border-radius: 2em;
		// 	background: map-get($colors, accentnavy);
		// 	padding: .9em 2em;
		// 	text-transform: uppercase;
		// 	font-size: 1.6em;
		// }


		.special-btn {
			margin: 0 auto;
			margin-bottom: 2em;
			display: block;
			border: .15em solid #fff;
			padding: .8em 1.4em;
			text-transform: uppercase;
			font-size: 1.6em;
			transition-duration: .2s;

			&:hover {
				border: .15em solid map-get($colors, primary);
			}

			@media(min-width: 40em) {
				min-width: 222px;
			}
		}
	}

	.scroll-arrows {
		position: absolute;
		top: 100%;
		/* position the top  edge of the element at the middle of the parent */
		left: 50%;
		/* position the left edge of the element at the middle of the parent */
		transform: translate(-50%, -104%);
		z-index: 4;
		/* This is a shorthand of
									 translateX(-50%) and translateY(-50%) */
	}

	.scroll-arrows svg {
		display: block;
		opacity: .4;
		margin: 0 auto;
		width: 26px;
		height: 26px;
		animation-name: opacitymove;
		animation-duration: 1.6s;
		animation-iteration-count: infinite;
		-webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .6));
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .6));

		@for $i from 1 through $hp-svg-arrows {
			&:nth-child(#{$i}) {
				animation-delay: #{.4 * $i}s;
			}
		}
	}
}

.box-1 {
	padding: .6em
}

.box-m1 {
	margin: .4em
}

.box-m2 {
	margin: 1.2em;
}

.box-x1 {
	margin: 0 1em;
}

.box-x2 {
	margin: 0 2em;
}

.box-x3 {
	margin: 0 3em;
}

.box-x4 {
	margin: 0 4em;
}

.box-x5 {
	margin: 0 5em;
}
.box-x6 {
	margin: 0 6em;
}
.box-x7 {
	margin: 0 6em;
}
.box-x8 {
	margin: 0 8em;
}
.box-x9 {
	margin: 0 9em;
}
.box-x10 {
	margin: 0 10em;
}
.boxtb-1 {
	padding: .6em 0
}

/* 
Section 2
*/
.menu-options {
	.menu-item {
		display: inline-block;
		font-size: 2.2em;
		color: map-get($colors, primary);
		padding: .2em 1em;
		cursor: pointer;

		// &::after {
		// 	background-image: url('../img/svg/down-arrow.svg');
		// 	content: ' ';
		// 	background-repeat: no-repeat;
		// 	margin: 0.4em .2em 0 .2em;
		// 	background-size: cover;
		// 	position: absolute;
		// 	width: 18px;
		// 	height: 18px;
		// }

		&:hover {
			text-decoration: underline;
		}

		&.active {
			text-decoration: underline;
		}

		// &.active::after {
		// 	transform: rotate(180deg);
		// }
	}

}

.menu-text {
	h2 {
		font-weight: 400;
		margin: .4em;
		color: map-get($colors, accent);
		text-shadow: none;
	}

	p {
		margin: .4em 30%;
		font-size: 1.6em;
		color: gray;
		text-shadow: none;
	}
}

#idone {
	background-image: url('../img/BG-images/Flamingo.png');
	background-position: 96% 84%;
	background-size: initial;
	background-repeat: no-repeat;
}

.menucontainer {
	max-height: 0;
	overflow: hidden;
	text-align: left;
	transition: max-height .3s linear;
	color: map-get($colors, accent);

	.closebtn {
		float: right;
		font-size: 5em;
		cursor: pointer;
		padding: 0 .8em;

		&:hover,
		&:active {
			color: map-get($colors, primary);
		}
	}

	&.active {
		max-height: 950px;
		-webkit-animation: fadeInFromNone 0.3s;
		-moz-animation: fadeInFromNone 0.3s;
		-o-animation: fadeInFromNone 0.3s;
		animation: fadeInFromNone 0.3s;

		.closebtn {
			-webkit-animation: fadeInFromNone 1s 0.5s;
			-moz-animation: fadeInFromNone 1s 0.5s;
			-o-animation: fadeInFromNone 1s 0.5s;
			animation: fadeInFromNone 1s 0.5s;
		}
	}

	.menuheading {
		text-transform: uppercase;
		font-size: 2em;
	}

	.menusubheading {
		text-transform: uppercase;
		font-size: 1.6em;
	}

	.menutime {
		font-size: 1.2em;
		margin: 0 .5em;
	}

	.foodtitle {
		font-size: 1.4em;
	}

	.foodtext {
		font-size: 1.1em;
	}

	.allergenheading {
		display: block;
		font-size: 1.6em;
		padding: 1em 1em 1em 0;

	}

	.allergen {
		display: inline-block;
		margin: .3em auto;
		padding: 0.2em 1em;
		font-size: .7em;
	}

	p {
		margin: 2em 0
	}

	.pure-g {
		margin: 1em 5em auto;
	}

	.divider {
		background-image: url('../img/svg/menu-divider.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 3em;
		margin-top: 1em;
	}
}

.standardlink {
	color: map-get($colors, primary);
	text-transform: uppercase;
	font-size: 1.5em;
	text-decoration: underline;
	text-underline-position: below;

	&::after {
		background-image: url('../img/svg/right-arrow.svg');
		content: ' ';
		background-repeat: no-repeat;
		margin: 0.2em .2em 0 .2em;
		background-size: cover;
		display: inline-block;
		width: 14px;
		height: 14px;
		border-bottom: none;
	}
}

.smalllink {
	color: map-get($colors, primary);
	font-size: 1.2em;
	text-decoration: underline;
	text-underline-position: below;

	&::after {
		content: '  ››';
	}
}


#myVideo {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 88%;
	background-size: 100% 100%;
	background-color: black;
	background-image: url(../img/zampas-grill.jpg);
	background-position: center center;
	background-size: contain;
	object-fit: cover;
	z-index: 3;
}

#section0 .layer {
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#section0 {
	overflow: hidden;
}

#section0 {
	.fp-tableCell {
		vertical-align: middle;
	}
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
	display: none !important;
}

.primary-btn {
	border: .2em solid #fff;
	padding: .6em 1.1em;
	text-transform: uppercase;
	font-size: 1.2em;
	transition-duration: .2s;

	&:hover {
		border: .2em solid map-get($colors, primary);
	}
}

button {
	background: none;
	border: none;
	padding: 1em 2em;
	color: #fff;
	cursor: pointer;
}

.pure-g [class*=pure-u] {
	font-family: $font-main;
}

.pure-centre {
	display: flex;
	align-items: center;
}

.centre-img {
	margin: 0 auto;
}

.inside {
	padding: 1em 0.5em;
	text-align: left;
	margin: auto;
}

.offer-box {
	background-color: map-get($colors, accentnavy);
	margin: 6em 2em 2em 2em;
	padding: 2em;
	vertical-align: middle;

	.title {
		font-weight: 400;
		margin: 0 2em;
		font-size: 2.5rem;
		display: inline-block;
		vertical-align: middle;
		max-width: 80%;
	}

	.subtitle {
		font-size: 1.2rem;
	}

	.text {
		font-size: 1rem;
	}

	button {
		background-color: map-get($colors, primary);
		text-transform: uppercase;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}

}

figure {
	margin: 0;
}

#section2 {

	figure {
		max-height: 45vh;
		overflow: hidden;
	}

	.scale-img {
		object-fit: cover;
		object-position: 54% 0;
		width: 600px;
		height: 450px;
		text-align: center;
	}

	.owl-gallery-container {
		max-width: 1200px;
		max-height: 45vh;
		overflow: hidden;
	}

	.slick-initialized .slick-slide {
		display: block;
		max-height: 45vh;
	}

	.slick-dots {
		position: absolute;
		bottom: 20px;
		display: block;
		width: 100%;
		padding: 10px;
		margin: 0;
		list-style: none;
		text-align: center;
		z-index: 9999;

		li button:before {
			font-size: 70px;
			color: black;
			opacity: .9;
		}

		li.slick-active button:before {
			font-size: 70px;
			color: white;
			opacity: 1;
		}
	}


	.owl-gallery-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 95%;
		height: 90%;
		background-color: rgba(0, 0, 0, .6);
		z-index: 2;

		.fig-header {
			font-size: 2em;
			display: block;
			margin: 2em auto;
			text-transform: uppercase;
			padding-bottom: .7em;
			max-width: 220px;
			-ms-transform: translate(0, 50px);
			/* IE 9 */
			-webkit-transform: translate(0, 50px);
			/* Safari prior 9.0 */
			transform: translate(0, 50px);
			border-bottom: solid .1em #fff;

			&::after {
				border-bottom: solid .3em #fff;
			}
		}

		.fig-text {
			font-size: 1.6em;
			display: block;
			margin: .5em 7em;
			-ms-transform: translate(0, 40px);
			/* IE 9 */
			-webkit-transform: translate(0, 40px);
			/* Safari prior 9.0 */
			transform: translate(0, 40px);
		}
	}

	.owl-carousel {
		position: relative;
	}

	.owl-dots {
		position: absolute;
		top: 10px;
		left: 25%;
		right: 25%;
		z-index: 5 !important;
	}
}

#section3 {
	figure {
		margin-top: 10%;
	}

	.inside {
		text-align: left;
	}

	.events-slide {
		max-width: 1200px;
		margin-top: 16%;

		.item {
			text-align: left;
			// background-color: rgba(194, 157, 95, .3);
			padding: 2em;

			&:focus {
				// border: 1px solid map-get($colors, primary);
				outline: none;
			}

			h4 {
				font-size: 3em;
				font-weight: 200;
				padding: .8em 0;
			}

			.event-time {
				font-size: 1.9em;
				text-transform: uppercase;
				padding: .2em 0 .4em 0;

				&::after {
					margin-top: 1.2em;
					width: 3em;
					display: block;
					border-bottom: 2px solid #fff;
					content: " ";
				}
			}

			.event-p {
				font-size: 1.7em;
				width: 80%;
				padding: 1em 0;
			}
		}

		.slick-prev,
		.slick-next {
			width: 22px;
			height: 50px;
			top: 120%;

			&::before {
				font-size: 50px;
			}

			&:hover::before {
				color: map-get($colors, primary);
			}
		}

		.slick-prev {
			left: -5px;
		}

		.slick-next {
			left: 60px;
		}
	}
}

#section4 {
	.intro {
		position: absolute;
		left: 50%;
		max-width: 600px;
		margin-top: 20%;
		margin-left: -300px;
		top: 0;
		z-index: 2;
		height: 100%;
		-webkit-filter: drop-shadow(2px 2px 2px rgba(44, 42, 42, 0.6));
		filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));

		h2 {
			line-height: 1em;

			&::after {
				border-bottom: 2px solid #fff;
				height: 1em;
				display: block;
				width: 2em;
				content: ' ';
				margin: 0 auto;
				margin-bottom: .5em;
			}
		}

		p {
			font-size: 1.8em;
			line-height: 1.3em;
		}
	}

	.our-bar {
		max-height: 100vh;
		background-color: white;

		img {
			-webkit-filter: brightness(60%);
			/* Safari 6.0 - 9.0 */
			filter: brightness(60%);
		}
	}

	.slick-prev,
	.slick-next {
		width: 52px;
		height: 160px;
		top: 50%;
		margin-top: 20px;
		z-index: 99;
		opacity: 1;

		&::before {
			font-size: 160px;
		}

		&:hover::before {
			color: map-get($colors, primary);
		}
	}

	.slick-prev {
		left: 360px;
	}

	.slick-next {
		right: 470px;
	}
}

.reviews-box {
	text-align: left;

	.review-title {
		font-size: 3em;
		line-height: 1.6em;
		padding: .5em 0 .2em 0;
		display: block
	}

	.review-text {
		font-size: 1.4em;
		line-height: 1.8em;
		display: inline-block;
	}

	.review-name {
		font-size: 1.8em;
		line-height: 2em;
		padding: .5em 0;
		display: block;
	}
}

.gallery {

	margin-left: 4em;

	.item {
		margin: 1em;
	}

	.slick-prev,
	.slick-next {
		width: 22px;
		height: 50px;
		top: 110%;

		&::before {
			font-size: 50px;
		}

		&:hover::before {
			color: map-get($colors, primary);
		}
	}

	.slick-prev {
		left: -15px;
	}

	.slick-next {
		left: 60px;
	}
}

#section6 {
	background-image: url('../img/BG-images/Leopard.png');
	background-position: 80% 60%;
	background-size: initial;
	background-repeat: no-repeat;

	.newsletter {
		max-width: 50vw;
		margin: 0 auto;
		background-attachment: fixed;

		.pure-form {
			margin: 2em auto;
			width: fit-content;

			.pure-div-rounded {
				display: block;
				min-width: 210px;
				background-color: white;
				border-radius: 3em;
				padding: 0 .3em 0 3em;
				margin: 2em;

				.pure-input {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					padding: .5em 1em;
					line-height: 2em;
					font-size: 2em;
					min-width: 400px;
					border: none;
					box-shadow: none;
					color: map-get($colors, primary);
				}

				.pure-button-primary {
					border-radius: 2em;
					background-color: map-get($colors, accentnavy);
					line-height: 1.8em;
					font-size: 2em;
					min-width: 200px;
				}
			}

			label {
				font-size: 1.4em;
			}

		}
	}
}

#section7 {
	background-image: url('../img/zampas-banner2.jpg');
	.pure-left {
		text-align: left;
	}
	.footer {
		h5 {
			text-transform: uppercase;
		}
		p {
			font-size: 1.4em;
			line-height: 1.1em;
		}
		a {
			color: map-get($colors, accent );
			font-size: 1.4em;
			line-height:2em;
		}
	}
}

	.image-w-caption {
		position: relative;
		text-align: center;

		figure {
			figcaption {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 95%;
				height: 90%;
				background-color: rgba(0, 0, 0, .6);

				.fig-header {
					font-size: 2em;
					display: block;
					margin: 2em auto;
					text-transform: uppercase;
					padding-bottom: .7em;
					max-width: 220px;
					-ms-transform: translate(0, 50px);
					/* IE 9 */
					-webkit-transform: translate(0, 50px);
					/* Safari prior 9.0 */
					transform: translate(0, 50px);
					border-bottom: solid .1em #fff;

					&::after {
						border-bottom: solid .3em #fff;
					}
				}

				.fig-text {
					font-size: 1.6em;
					display: block;
					margin: .5em 7em;
					-ms-transform: translate(0, 40px);
					/* IE 9 */
					-webkit-transform: translate(0, 40px);
					/* Safari prior 9.0 */
					transform: translate(0, 40px);
				}
			}
		}
	}